<!DOCTYPE html>
<html ng-app="travelsApp">
<head lang="en">
	<meta charset="UTF-8">
	<title>Robert's Apartment</title>
	<link rel="stylesheet" type="text/css" href="resources/css/city.css">
	<link rel="stylesheet" href="resources/libraries/material-scrolltop-0.6.4/src/material-scrolltop.css">
</head>

<body>
<script src="resources/js/jquery-3.0.0.min.js"></script>
<script src="resources/js/angular.min.js"></script>
<script src="app.js"></script>
<script type="text/javascript" language="JavaScript">
	function set_body_height() { // set body height = window height
		$('body').height($(window).height());
	}
	$(document).ready(function () {
		$(window).bind('resize', set_body_height);
		set_body_height();
	});
</script>
<style>
    .imgwrapper {
		max-width: 100%;
        width: 99%;
        height: auto;
    }
</style>
<div ng-include="'navigationBar.html'"></div>
<div ng-controller="apartmentController">
	<div class="row">
		<div class="col">
			<p>You are going to <span class="bold">Robert's apartment!</span> Yay!<br>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<span class="bold">My Address: </span>{{apartment['Address']}}<br>
			<a class ="smallAnchorTag" href="http://www.google.com/maps/place/{{apartment['Address']}}">Open My Address in Google Maps</a>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<span class="bold">My Phone Number: </span>{{apartment['Phone Number']}}<br>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<span class="bold">About my apartment: </span>{{apartment['About My Apartment']}}<br><br>
			<span class="bold">Number of Bathrooms: </span>{{apartment['Number of Bathrooms']}}<br>
			<span class="bold">Number of Bedrooms: </span>{{apartment['Number of Bedrooms']}}<br>
			<span class="bold">Number of Beds: </span>{{apartment['Number of Beds']}}<br><br>
            <span class="bold">Directions: </span><span style="white-space: pre-line; word-wrap: break-word">{{apartment['Directions']}}</span><br><br>
            <span class="bold">Parking: </span>{{apartment['Parking']}}<br><br>
            <span class="bold">Picture For Reference: </span><br/>
            <img src="{{apartment['Parking Image']}}" class="imgwrapper center-align"><br><br>
            <span class="bold">Getting Inside the Complex: </span>{{apartment['Getting Inside the Complex']}}<br><br>
            <span class="bold">Getting to My Apartment Room: </span>{{apartment['Getting to My Apartment']}}<br>

		</div>
	</div>
	<div class="row">
		<div class="col s12 m12 l12">
			<ul class="collection with-header">
				<li class="collection-header"><h4>Amenities</h4></li>
				<div ng-repeat="amenity in apartment['Amenities']">
					<li class="collection-item">{{amenity}}</li>
				</div>
			</ul>
			<br>
			<span class="bold">House Rules: </span>{{apartment['House Rules']}}<br><br>
			<span class="bold">Wifi Network: </span>{{apartment['Wifi Network']}}<br>
            <span class="bold">Wifi Password: </span>{{apartment['Wifi Password']}}<br>
            <span class="bold">Chromecast: </span>{{apartment['Chromecast']}}<br>

            <br><span class="bold">Swimming Pool Usage: </span><span style="white-space: pre-line; word-wrap: break-word">{{apartment['Swimming Pool Usage']}}</span><br>
            <br><span class="bold">Gym: </span><span style="white-space: pre-line; word-wrap: break-word">{{apartment['Gym']}}</span><br>
			<br><span class="bold">The Space: </span><span style="white-space: pre-line; word-wrap: break-word">{{apartment['The Space']}}</span><br>
			<br><span class="bold">Other Apartment Information: </span><span style="white-space: pre-line; word-wrap: break-word">{{apartment['Other Apartment Information']}}</span><br>
            <br><span class="bold">Getting Around: </span><span style="white-space: pre-line; word-wrap: break-word">{{apartment['Getting Around']}}</span>
            <br><br><span class="bold">What To Do Around Here: </span><span style="white-space: pre-line; word-wrap: break-word"><span ng-repeat="activity in apartment['What To Do Around Here']"><li>{{activity}}</li></span></span>
            <br><span class="bold">Time To Places Without Traffic: </span><span style="white-space: pre-line; word-wrap: break-word"><span ng-repeat="activity in apartment['Time To Interesting Places Without Traffic']"><li>{{activity}}</li></span></span>
            <br><span class="bold">Tolls Note: </span>{{apartment['Tolls Note']}}<br>
            <br><span class="bold">Closing Remarks: </span>{{apartment['Closing Remarks']}}<br>

            <h1>
                Robert
            </h1>
		</div>
	</div>
</div>
<scroll-up-button/>
</body>
</html>