<html ng-app="travelsApp">

<head>
    <link href="resources/css/MaterialIcons.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="resources/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="resources/css/materialize.min.css">
    <script src="resources/js/jquery-3.0.0.min.js"></script>
    <script src="resources/js/angular.min.js"></script>
    <script src="resources/js/materialize.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="resources/libraries/material-scrolltop-0.6.4/src/material-scrolltop.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://use.fontawesome.com/8d83ad3696.js"></script>
    <script type="text/javascript" language="JavaScript">
        function set_body_height() { // set body height = window height
            $('body').height($(window).height());
        }
        $(document).ready(function () {
            $(window).bind('resize', set_body_height);
            set_body_height();
        });
    </script>
</head>

<div ng-include="'navigationBar.html'"></div>


<div ng-controller="travelsController">
    <h3>
        Places traveled to in 2017
    </h3>
    <table class="bordered">
        <thead>
        <tr>
            <th>
                Dates
            </th>
            <th>
                Places Visited
            </th>
            <th>
                Links
            </th>
        </tr>
        </thead>

        <tbody>
            <tr ng-repeat="trip in travels['Completed Trips']">
                <td>
                    {{trip.Dates}}
                </td>
                <td>
                    <li ng-repeat="places in trip['Places Visited'] track by $index">
                        {{places}}<br>
                    </li>
                </td>
                <td>
                    <span ng-repeat="link in trip['Relevant Links']">
                        {{link}}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <h3>
        Future travels in 2017
    </h3>
    <h5>
        To be planned: san antonio, shreveport, northwest arkansas (2x), oklahoma city, carlsbad/guadalupe, new york city, boston, minneapolis, salt lake city/zion, denver, pittsburgh
    </h5>

    <table class="bordered">
        <thead>
        <tr>
            <th>
                Dates
            </th>
            <th>
                Places Planning to Visit
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="trip in travels['Future Trips']">
            <td>
                {{trip.Dates}}
            </td>
            <td>
                <li ng-repeat="places in trip['Places to Visit'] track by $index">
                    {{places}}<br>
                </li>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<scroll-up-button/>

</html>