<rules>
    <rule name="Rewrite Rule">
        <match url=".*" />
        <conditions>
            <add input="{StaticRewrites:{REQUEST_URI}}" pattern="(.+)" />
        </conditions>
        <action type="Rewrite" url="{C:1}" />
    </rule>
    <rule name="Remove html Extension" stopProcessing="true">
        <match url="^(.+)\.html$" />
        <action type="Redirect" url="{R:1}" redirectType="Permanent" />
    </rule>
</rules>
<rewriteMaps>
<rewriteMap name="StaticRewrites" defaultValue="">
    <add key="/graduation/" value="/graduation.html" />
</rewriteMap>
</rewriteMaps>
