<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension="otf" mimeType="application/font-otf" />
        </staticContent>
        <staticContent>
            <mimeMap fileExtension="json" mimeType="application/json" />
        </staticContent>
    </system.webServer>
</configuration>
