<!DOCTYPE html>
<html ng-app="tripPlannerApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Atlanta</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/city.css">
    <link rel="stylesheet" href="../resources/libraries/material-scrolltop-0.6.4/src/material-scrolltop.css">
</head>

<body>
<script src="../resources/js/jquery-3.0.0.min.js"></script>
<script src="../resources/js/angular.min.js"></script>
<script src="app.js"></script>
<script type="text/javascript" language="JavaScript">
    function set_body_height() { // set body height = window height
        $('body').height($(window).height());
    }
    $(document).ready(function() {
        $(window).bind('resize', set_body_height);
        set_body_height();
    });
</script>

<div ng-include="'navigationBar.html'"></div>

<div ng-controller="atlantaController">
    <div class="row">
        <div class="col s12 m6 l3">
            <p>You are going to {{atlanta['Name']}}!<br>
            </p>
        </div>
        <div class="col s12 m6 l3"><p>Reservation code: {{atlanta['Reservation Code']}}.<br>
        </p></div>
        <div class="col s12 m6 l3">
            <p>
                    <span class="bold">
                        Check In Details:
                    </span>
                {{atlanta['Check-in']}}
            </p>
        </div>
        <div class="col s12 m6 l3">
            <p>
                    <span class="bold">
                        Check Out Details:
                    </span>
                {{atlanta['Check-out']}}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="{{atlanta['Host Image']}}">
                    <span class="card-title"><h5>Your Host, {{atlanta['Host Name']}}</h5></span>
                </div>
                <div class="card-content">
                    <p>{{atlanta['Host Name']}} can be contacted at {{atlanta['Host Phone Number']}}.<br>
                    </p>
                </div>
            </div>
        </div>
        <div class = "col s4">
            sup
        </div>
        <div class = "col s4">
            sup
        </div>
    </div>

    <!--{{atlanta['Host Name']}} can be contacted at <a href="tel:{{atlanta['Host Phone Number']}}">{{atlanta['Host Phone Number']}}</a><br>-->
    Megabus Address: {{atlanta['Megabus Stop']}}<br>
    Airbnb Address: {{atlanta['Airbnb Address']}}<br>
    About this Listing: {{atlanta['About Listing']}}<br>
    Number of Bathrooms: {{atlanta['Number of Bathrooms']}}<br>
    Number of Bedrooms: {{atlanta['Number of Bedrooms']}}<br>
    Number of Beds: {{atlanta['Number of Beds']}}<br>
    <br>
    The sleeping arrangement is given below.
    <div ng-repeat="arrangement in atlanta['Sleeping Arrangement']">
        {{arrangement}}
    </div>
    <br>
    Room type: {{atlanta['Room Type']}}<br>

    <br>
    Amenities include:
    <div ng-repeat="amenity in atlanta['Amenities']">
        {{amenity}}
    </div>
    <br>

    Wifi Network: {{atlanta['Wifi Network']}}<br>
    Wifi Password: {{atlanta['Wifi Password']}}<br>

    House Rules: {{atlanta['House Rules']}}<br>
    Total Cost of the Airbnb: ${{atlanta['Total Cost of the place']}}<br>
    The Neighborhood: <div style="white-space: pre-line; word-wrap: break-word">{{atlanta['The Neighborhood']}}<br></div>
    Getting Around: <span style="white-space: pre;">{{atlanta['Getting Around']}}
    </span>


</div>

<scroll-up-button/>

</body>
</html>