<!DOCTYPE html>
<html ng-app="tripPlannerApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Atlanta</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/city.css">
    <link rel="stylesheet" href="../resources/libraries/material-scrolltop-0.6.4/src/material-scrolltop.css">
</head>

<body>
<script src="../resources/js/jquery-3.0.0.min.js"></script>
<script src="../resources/js/angular.min.js"></script>
<script src="app.js"></script>
<script type="text/javascript" language="JavaScript">
    function set_body_height() { // set body height = window height
        $('body').height($(window).height());
    }
    $(document).ready(function () {
        $(window).bind('resize', set_body_height);
        set_body_height();
    });
</script>

<div ng-include="'navigationBar.html'"></div>

<div ng-controller="atlantaController">
    <div class="row">
        <div class="col s12 m6 l3">
            <p>You are going to <span class="bold">{{atlanta['City Name']}}!</span><br>
            </p>
        </div>
        <div class="col s12 m6 l3"><p><span class="bold">Reservation code: </span>{{atlanta['Reservation Code']}}.<br>
        </p></div>
        <div class="col s12 m6 l3">
            <p>
                    <span class="bold">
                        Check In Details:
                    </span>
                {{atlanta['Check-in']}}
            </p>
        </div>
        <div class="col s12 m6 l3">
            <p>
                    <span class="bold">
                        Check Out Details:
                    </span>
                {{atlanta['Check-out']}}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="{{atlanta['Host Image']}}">
                    <span class="card-title"><h5>Your Host, {{atlanta['Host Name']}}</h5></span>
                </div>
                <div class="card-content">
                    <p>{{atlanta['Host Name']}} can be contacted at {{atlanta['Host Phone Number']}}.<br>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s6">
            <span class="bold">Megabus Address: </span>{{atlanta['Megabus Stop']}}<br>
            <a class ="smallAnchorTag" href="http://www.google.com/maps/place/{{atlanta['Megabus Stop']}}">Open Megabus Stop in Google Maps</a>
        </div>
        <div class="col s6">
            <span class="bold">Airbnb Address: </span>{{atlanta['Airbnb Address']}}<br>
            <a class ="smallAnchorTag" href="http://www.google.com/maps/place/{{atlanta['Airbnb Address']}}">Open Airbnb Address in Google Maps</a>

        </div>
    </div>

    <!--{{atlanta['Host Name']}} can be contacted at <a href="tel:{{atlanta['Host Phone Number']}}">{{atlanta['Host Phone Number']}}</a><br>-->
    <span class="bold">About this Listing: </span>{{atlanta['About Listing']}}<br><br>
    <span class="bold">Number of Bathrooms: </span>{{atlanta['Number of Bathrooms']}}<br>
    <span class="bold">Number of Bedrooms: </span>{{atlanta['Number of Bedrooms']}}<br>
    <span class="bold">Number of Beds: </span>{{atlanta['Number of Beds']}}<br>
    <br>
    The sleeping arrangement is given below.
    <div ng-repeat="arrangement in atlanta['Sleeping Arrangement']">
        {{arrangement}}
    </div>
    <br>
    <span class="bold">Room type: </span>{{atlanta['Room Type']}}<br>

    <br>

    <ul class="collection with-header">
        <li class="collection-header"><h4>Amenities</h4></li>
        <div ng-repeat="amenity in atlanta['Amenities']">
            <li class="collection-item">{{amenity}}</li>
        </div>
    </ul>
    <br>

    <span class="bold">Wifi Network: </span>{{atlanta['Wifi Network']}}<br>
    <span class="bold">Wifi Password: </span>{{atlanta['Wifi Password']}}<br>

    <span class="bold">House Rules: </span>{{atlanta['House Rules']}}<br>
    <span class="bold">Total Cost of the Airbnb: </span>${{atlanta['Total Cost of the place']}}<br>
    <span class="bold">The Neighborhood: </span> <span style="white-space: pre-line; word-wrap: break-word">{{atlanta['The Neighborhood']}}<br></span>
    <br><span class="bold" >Getting Around: <br></span><span style="white-space: pre; word-wrap: break-word">{{atlanta['Getting Around']}}
    </span>


</div>

<scroll-up-button/>

</body>
</html>