<!DOCTYPE html>
<html ng-app="tripPlannerApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Charlotte</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/city.css">
    <link rel="stylesheet" href="../resources/libraries/material-scrolltop-0.6.4/src/material-scrolltop.css">
</head>

<body>
<script src="../resources/js/jquery-3.0.0.min.js"></script>
<script src="../resources/js/angular.min.js"></script>
<script src="app.js"></script>
<script type="text/javascript" language="JavaScript">
    function set_body_height() { // set body height = window height
        $('body').height($(window).height());
    }
    $(document).ready(function () {
        $(window).bind('resize', set_body_height);
        set_body_height();
    });
</script>

<div ng-include="'navigationBar.html'"></div>

<div ng-controller="charlotteController">
    <div class="row">
        <div class="col s12 m6 l6">
            <p>You are going to <span class="bold">{{charlotte['City Name']}}!</span><br>
            </p>
        </div>
        <div class="col s12 m6 l6"><p><span class="bold">Airbnb Reservation code: </span>{{charlotte['Reservation Code']}}.<br>
        </p></div>

    </div>

    <div class="row">

        <div class="col s6">
            <p>
                    <span class="bold">
                        Megabus Arrival Time:
                    </span>
                {{charlotte['Megabus Arrival Time']}}
            </p>
        </div>
        <div class="col s6">
            <p>
                    <span class="bold">
                        Airbnb Check In Details:
                    </span>
                {{charlotte['Check-in']}}
            </p>
        </div>
        <div class="col s6">
            <p>
                    <span class="bold">
                        Megabus Departure Time:
                    </span>
                {{charlotte['Megabus Departure Time']}}
            </p>

        </div>
        <div class="col s6">
            <p>
                    <span class="bold">
                        Airbnb Check Out Details:
                    </span>
                {{charlotte['Check-out']}}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 l6">
            <span class="bold">Megabus Address: </span>{{charlotte['Megabus Stop']}}<br>
            <a class ="smallAnchorTag" href="http://www.google.com/maps/place/{{charlotte['Megabus Stop']}}">Open Megabus Stop in Google Maps</a>
        </div>
        <div class="col s12 m6 l6">
            <span class="bold">Airbnb Address: </span>{{charlotte['Airbnb Address']}}<br>
            <a class ="smallAnchorTag" href="http://www.google.com/maps/place/{{charlotte['Airbnb Address']}}">Open Airbnb Address in Google Maps</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l6">
            <span class="bold">Megabus Reservation Number From NOL to ATL: </span>{{charlotte['Megabus Reservation Number To This City']}}<br><br>
        </div>
        <div class="col s12 m6 l6">
            <span class="bold">Megabus Reservation Number From ATL to CL: </span>{{charlotte['Megabus Reservation Number Leaving This City']}}<br>
        </div>
    </div>


    <!--{{charlotte['Host Name']}} can be contacted at <a href="tel:{{charlotte['Host Phone Number']}}">{{charlotte['Host Phone Number']}}</a><br>-->

    <br>
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="{{charlotte['Host Image']}}">
                    <span class="card-title"><h5>Your Host, {{charlotte['Host Name']}}</h5></span>
                </div>
                <div class="card-content">
                    <p>{{charlotte['Host Name']}} can be contacted at {{charlotte['Host Phone Number']}}.<br></p>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l8">
            <span class="bold">About this Listing: </span>{{charlotte['About Listing']}}<br><br>

            <span class="bold">Number of Bathrooms: </span>{{charlotte['Number of Bathrooms']}}<br>
            <span class="bold">Number of Bedrooms: </span>{{charlotte['Number of Bedrooms']}}<br>
            <span class="bold">Number of Beds: </span>{{charlotte['Number of Beds']}}<br><br>
            The sleeping arrangement is given below.
            <div ng-repeat="arrangement in charlotte['Sleeping Arrangement']">
                {{arrangement}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12">
            <span class="bold">Room type: </span>{{charlotte['Room Type']}}<br>

            <br>

            <ul class="collection with-header">
                <li class="collection-header"><h4>Amenities</h4></li>
                <div ng-repeat="amenity in charlotte['Amenities']">
                    <li class="collection-item">{{amenity}}</li>
                </div>
            </ul>
            <br>


            <span class="bold">House Rules: </span>{{charlotte['House Rules']}}<br><br>
            <span class="bold">Total Cost of the Airbnb: </span>${{charlotte['Total Cost of the place']}}<br><br>
            <span class="bold">The Neighborhood: </span> <span style="white-space: pre-line; word-wrap: break-word">{{charlotte['The Neighborhood']}}<br></span>
            <br><span class="bold" >Getting Around: <br></span><span style="white-space: pre; word-wrap: break-word">{{charlotte['Getting Around']}}
    </span>
        </div>
    </div>
</div>

<scroll-up-button/>

</body>
</html>