@font-face {
    font-family: 'CircularStd-Book';
    src: url('../fonts/CircularStd-Book.otf') format('truetype');
}

@font-face {
    font-family: 'CircularStd-Bold';
    src: url('../fonts/CircularStd-Bold.otf') format('truetype');
}

body {
    font-family: 'CircularStd-Book', serif;
    font-size: 24px;
    background-color: #E1EAED;
}

.bold {
    font-family: 'CircularStd-Bold', serif;
}

.img-circle {
    border-radius: 50%;
}

.smallAnchorTag {
    font-size: 24px;
}