* {
    padding: 0;
    margin: 0;
    font-stretch: expanded;
}
.fit { /* set relative picture size */
    max-width: 100%;
}
.center {
    display: block;
    margin: auto;
}

@font-face {
    font-family: 'CircularStd-Bold';
    src: url('../fonts/CircularStd-Bold.otf') format('truetype');
}
body {
    font-family: 'CircularStd-Bold', serif;
    font-size: 48px;
    background-image: url("../img/background.png");
}

.img-circle {
    border-radius: 50%;
}